@charset "UTF-8";
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
}
/* Modal Content */

.modal-content {
    background-color: #000000;
    margin: auto;
    padding: 3%;
    border: 1px solid #888;
    border-radius: 12px;
    width: 80%;
}
/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 3vh;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.available {
    background-color: green;
}

.not-available {
    background-color: black;
}

p,
a {
    color: white;
    font-size: 1.2vh;
}

h1 {
    font-size: 2.5vh;
}

@keyframes lore {
    0% {
        color: black;
    }
    25% {
        color: white;
    }
    75% {
        color: white;
    }
    100% {
        color: black;
    }
}

@keyframes logo2 {
    0% {
        opacity: 0;
        filter: grayscale(100%);
    }
    82.5% {
        opacity: 0;
    }
    88.75% {
        opacity: 1;
        filter: grayscale(100%);
    }
    95% {
        filter: grayscale(0%);
    }
}

.lore {
    animation: lore 3.5s linear 0s 8;
    text-align: center;
    font-size: 3vh;
    padding-top: 20%;
    padding-bottom: 0;
    padding-right: 0;
}

.lore h1 {
    background-color: black;
    font-size: 5vh;
}

.logo {
    animation: lore 5s linear 28s;
    text-align: center;
    font-size: 4vh;
    padding-top: 20%;
    padding-bottom: 0;
    padding-right: 0;
}

.logo2 {
    margin: 0 auto;
    display: block;
    animation: logo2 40s linear;
    width: 100%;
}

body {
    overflow: hidden;
    /* Hide scrollbars */
    padding: 5px;
}

#game-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}

#click-to-start {
    font-size: 4vh;
}

#loader {
    cursor: none;
}

#gameplay {
    cursor: url("./favicon.png");
    width: 100%;
    height: 100%;
    padding: 10px;
}

.resource-table {
    border: 1px solid white;
    border-radius: 12px;
    height: calc(100% - 60px);
    width: calc(19.5% - 16px);
    float: right;
    margin: 0;
    padding-left: 16px;
}

.resource-table p {
    font-size: 2.5vh;
}

.interaction {
    border: 1px solid white;
    border-radius: 12px;
    height: calc(100% - 80px);
    width: calc(79.5% - 20px);
    float: left;
    padding: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card {
    height: auto;
    width: 10vw;
    border: 1px solid white;
    border-radius: 6%;
    padding: 0;
    position: relative;
    float: left;
    background-color: black;
    transition: background-color 0.5s;
}

.card img {
    width: 10vw;
    height: auto;
}

.amount-circle {
    position: absolute;
    top: -0.78125vw;
    left: 0px;
    background-color: grey;
    width: auto;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    height: 1vw;
    font-size: 0.8vw;
    border-radius: 50% 0;
    text-align: center;
}

.info-card {
    display: none;
    border: 1px solid white;
    background-color: #3F3F3F;
    border-radius: 5px;
    width: calc(10vw - 10px);
    padding: 10px;
    position: absolute;
    z-index: 1;
    min-width: 150px;
}

.info {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1vw;
    height: 1vw;
    border-radius: 0 50%;
    background: blue;
    color: white;
    text-align: center;
    font-family: "Monotype Corsiva", "Mutter Krause Hal", "Sudbury Book-Italic";
    font-size: 0.8vw;
    padding-top: 2.5px;
    cursor: pointer;
}

.info:hover+.info-card {
    display: block;
    position: absolute;
    top: 20px;
    right: -11vw;
}

.info:hover {
    background-color: #3F3FFF;
}

.cost {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    border: 5px solid #888;
    border-radius: 10px;
    padding: 0.9vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    font-size: 1.2vh;
}

.tab {
    height: 60px;
}

button.tablinks {
    border: 1px solid white;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
    width: 100px;
}

button.tablinks#buildingsButton {
    left: 20px;
}

button.tablinks#upgradesButton {
    left: 140px;
}

button.tablinks.active {
    border: 1px solid white;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    height: 60px;
    margin-left: 10px;
    margin-top: auto;
    background-color: white !important;
    color: black !important;
}

button#optionsButton {
    float: right;
    right: calc(24% - 16px);
}

#options label,
button {
    border: 5px solid #888;
    border-radius: 10px;
    padding: 0.9vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

td, tr, table {
    transition: width;
}



/* The slider itself */
.slider {
-webkit-appearance: none;  /* Override default CSS styles */
appearance: none;
width: 100%; /* Full-width */
height: 25px; /* Specified height */
background: #3d3d3d; /* Grey background */
outline: none; /* Remove outline */
opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
-webkit-transition: .2s; /* 0.2 seconds transition on hover */
transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
-webkit-appearance: none; /* Override default look */
appearance: none;
width: 25px; /* Set a specific slider handle width */
height: 25px; /* Slider handle height */
background: #ffffff; /* Green background */
cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
width: 25px; /* Set a specific slider handle width */
height: 25px; /* Slider handle height */
background: #04AA6D; /* Green background */
cursor: pointer; /* Cursor on hover */
}